@using Tangsem.Web.Mvc.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    
    @Html.Raw(Url.ImportCss(Links.Content.Site_css))
    
    @Html.Raw(Url.ImportJs(Links.Scripts.jquery_1_5_1_min_js))
    @Html.Raw(Url.ImportJs(Links.Scripts.modernizr_1_7_min_js))
    @Html.Raw(Url.ImportJs(Links.Scripts.jquery_pjax_js))
    
    @* imports jQuery UI *@
    @Html.Raw(Url.ImportJs(Links.Scripts.jquery_ui_1_8_11_min_js))
    @Html.Raw(Url.ImportCss(Links.Content.themes.@base.jquery_ui_all_css))

    
    @* imports jGrowl *@
    @Html.Raw(Url.ImportCss(Links.Content.jgrowl.jquery_jgrowl_css))
    @Html.Raw(Url.ImportJs(Links.Content.jgrowl.jquery_jgrowl_js))
    
    @Html.Raw(Url.ImportJs(Links.Scripts.jquery_unobtrusive_ajax_min_js));
    
    @* select menu *@
    @Html.Raw(Url.ImportJs(Links.Content.selectmenu.jquery_ui_selectmenu_js))
    @Html.Raw(Url.ImportCss(Links.Content.selectmenu.jquery_ui_selectmenu_css))
    
    @Html.Raw(Url.ImportCss(Links.Content.size_styles_css))
    
    @* flexigrid *@
    @Html.Raw(Url.ImportCss(Links.Content.flexigrid.flexigrid_css))
    @Html.Raw(Url.ImportJs(Links.Content.flexigrid.flexigrid_js))
    
  <style type="text/css">
    ul.footer {
      
    }
    
    ul.footer li {
      display:table-cell;
      padding: 5px;
    }
  </style>
    
<script language="javascript" type="text/javascript">  // --  --

  $(document).ready(function () {
    $('#myGrid a').pjax('#myGrid');
    

    $('select').selectmenu({ style: 'dropdown' });

    $('*[data-autocomplete-url]')
        .each(function () {
          $(this).autocomplete({
            source: $(this).data("autocomplete-url")
          });
        });
  });
</script>
</head>
<body>
    <div class="page">
        <header>
            <div id="title">
                <h1>My MVC Application</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("State", MVC.State.ListStates())</li>
                    <li>@Html.ActionLink("Categories", MVC.Category.ListCategories())</li>
                    <li>@Html.ActionLink("Flexigrid Categories", MVC.FlexigridTest.SearchCategories()))</li>
                    
                </ul>
            </nav>
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>
</body>
</html>
