@using System.Dynamic
@using System.Linq.Expressions
@using System.Web.Script.Serialization
@using Tangsem.Common.Extensions
@using Tangsem.Generator.WebMvc3Demo.Common.Domain.Entities
@using Tangsem.Generator.WebMvc3Demo.Extensions.Flexigrid
@using Tangsem.Generator.WebMvc3Demo.ViewModels
@using Tangsem.Generator.WebMvc3Demo.Extensions
@using Tangsem.Web.Mvc.Extensions

@model IQueryable<Tangsem.Generator.WebMvc3Demo.Common.Domain.Entities.Category>

@{
  var grid = new WebGrid();
  grid.Bind(this, this.Model);
}



@{
  var htmlAttributes = new { id = "gridTbl", name = "gridTbl" };
}

@grid.GetHtml(
  columns: grid.Columns(
                grid.Column(columnName: "Id", header: "Id", format: @<text>@item.Id</text>, canSort: true),
                grid.Column(columnName: "Name", header: "Name", format: @<text>@item.Name</text>, canSort: true),
                grid.Column(columnName: "ShortDescription", header: "Short Description", format: @<text>@item.ShortDescription</text>, canSort: true),
                grid.Column(columnName: "", header: "Action", format: @<text><a href="javascript:deleteCat(@item.Id)">Delete</a></text>, canSort: false)
          ),
  htmlAttributes: htmlAttributes // only merged2 approach works for now.
)