@using System.Web.Script.Serialization
@using Tangsem.Generator.WebMvc3Demo.ViewModels

@model CategoryViewModel
         
@{
  ViewBag.Title = "Categories";
}

<h2>Categories</h2>


@using(Html.BeginForm(MVC.Category.ListCategories(), FormMethod.Get))
{
  <fieldset>
    <legend>Search Criteria</legend>
  
    <ul class="inputs">
      <li class="lbl">
        @Html.LabelFor(m => m.SearchParams.Name)
      </li>
      <li class="fld">
        @Html.TextBoxFor(m => m.SearchParams.Name)
      </li>
  
      <li class="lineSeparator"></li>

      <li class="lbl">
        @Html.LabelFor(m => m.SearchParams.ShortDescription)                             
      </li>
      <li class="fld">
        @Html.TextBoxFor(m => m.SearchParams.ShortDescription)
      </li>

      <li class="lineSeparator"></li>
      <li class="fld"><input type="submit" value="Search" /></li>
    </ul>
  </fieldset>

}

<h3>Categories Found</h3>
<table>
  
  <thead>
    <tr>
      <th>Name</th>
      <th>Short Description</th>
      <th>Description</th>
    </tr>
    
  </thead>
    
  <tbody>
  @foreach(var cat in this.Model.Categories)
  {
    <tr>
      <td>@cat.Name</td>
      <td>@cat.ShortDescription</td>
      <td>@cat.Description</td>
    </tr>
  }
  </tbody>
</table>