@using System.Web.Script.Serialization
@using Tangsem.Generator.WebMvc3Demo.ViewModels
@using Tangsem.Generator.WebMvc3Demo.Extensions

@model CategoryViewModel
         
@{
  ViewBag.Title = "Categories";
}

<h2>Categories</h2>


@using(Html.BeginForm(MVC.Category.ListCategories(), FormMethod.Get))
{
  <fieldset>
    <legend>Search Criteria</legend>
  
    <ul class="inputs">
      <li class="lbl">
        @Html.LabelFor(m => m.SearchParams.Name)
      </li>
      <li class="fld">
        @Html.TextBoxFor(m => m.SearchParams.Name, new { id = "SearchParams.Name", data_autocomplete_url = Url.Action(MVC.Category.Autocomplete()) })
      </li>
  
      <li class="lineSeparator"></li>

      <li class="lbl">
        @Html.LabelFor(m => m.SearchParams.ShortDescription)                             
      </li>
      <li class="fld">
        @Html.TextBoxFor(m => m.SearchParams.ShortDescription)
      </li>
      
      <li class="lineSeparator"></li>

      <li class="lbl">
        <label id="test" for="testSel">Test</label>
      </li>
      <li class="fld">
        <select id="testSel">
          <option>English</option>
          <option>Chinese</option>
        </select>
      </li>

      <li class="lineSeparator"></li>
      <li class="fld"><input type="submit" value="Search" /></li>
    </ul>
  </fieldset>

}

<h3>Categories Found</h3>

@*
<div id="test1">
  <p class="a"></p>
  <p class="a"></p>
  <p class="a"></p>

</div>

<script language="javascript" type="text/javascript">  // --  --
  $(function () {
    alert($('#test1 .a').length);
  });
</script>*@


<div id="myGrid">
  @Html.Partial(MVC.Category.Views.CatsGrid, this.Model.Categories)
</div>

<script language="javascript" type="text/javascript">  // --  --
  

  function deleteCat(id) {
    $.ajax(
      {
        url: '@Url.Action(MVC.Category.DeleteCategory())',
        type: "post",
        dataType: "json",
        data: { id: id },
        success: function (data) {
          $('#myGrid').load(document.location.href);

          try {
            $.jGrowl("Deleted:" + data.deleted, { header: 'Message', position: "bottom-right" });
          } catch (e) {
            alert(e);
          }
        }
      }
    );
  }

</script>
