@using System.Web.Script.Serialization
@using Tangsem.Generator.WebMvc3Demo.ViewModels
@model Tangsem.Generator.WebMvc3Demo.ViewModels.StateViewModel

@{
  ViewBag.Title = "States";
}

<h2>States</h2>

@using(Html.BeginForm(MVC.State.ListStates(), FormMethod.Get))
{
  <ul class="inputs">
    <li class="lbl">
      @Html.LabelFor(m => m.StateQry.CountryId)
    </li>
    <li class="fld">
	  @Html.DropDownListFor(m => m.StateQry.CountryId, this.Model.StateQry.CountryOptions)
    </li>
  
    <li class="lineSeparator"></li>

    <li class="lbl">
      @Html.LabelFor(m => m.StateQry.Name)
    </li>
    <li class="fld">
      @Html.TextBoxFor(m => m.StateQry.Name)
    </li>
    <li class="lineSeparator"></li>
	
	<li class="lbl">&nbsp;</li>
    <li class="fld">
		<input type="submit" value="Search"/>
	</li>
  </ul>
}



@{
	var js = new JavaScriptSerializer();
	var statesQry = js.Serialize(this.Model.StateQry);
}


<script language="javascript" type="text/javascript">
  // --  --
  function deleteState(id) {
    $.ajax(
      {
        type: 'POST',
        url: '@Url.Action(MVC.State.DeleteState())',
        data: { id: id },
        dataType: 'json',
        success: function (data) { msg('Deleted:' + data.deleted); },
        error: function () { msg('Error!'); }
      }
    );
    }
  
  function msg(msg) {
    $('#msg').text(msg);
  }
  
</script>


<div>
  
  <div id="msg"></div>

  <ul style="clear:both">
    @foreach (var s in this.Model.States)
    {
      <li>
        @(s.Id).
        @(s.Name)
        <input type="button" value="Delete" name="delete_@(s.Name)" onclick="deleteState(@(s.Id))" />
      </li>
  
    }
  </ul>
</div>